logicapp_datacoll_deploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "LogicAppLocation": {
            "type": "string",
            "defaultValue" : "[resourceGroup().location]"
    
        },
        "LogicAppName": {
            "type": "string"
        },
        "RecurrenceInterval": {
            "type": "string"
        },
        "SAPSystemID": {
            "type": "string"
        },
        "SAPUser": {
            "type": "string"
        },
        "SAPPassword": {
            "type": "securestring"
        },
        "SAPOdataUri": {
            "type":  "string"
        },
        "LogAnalyticsConnectionName": {
            "type": "string"
          },
         "LogAnalyticsWorkspaceId" : {
             "type" : "string"
         },
         "LogAnalyticsWorkspaceKey" : {
             "type" : "securestring"
         }
        
    },
    "functions": [],
    "variables": {
        "odatafilter" : "Datum eq datetime'@{formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ss')}' and Time ge time'@{formatDateTime(getPastTime(Recurrence,'Minute'),'PTHH\"H\"mm\"M\"ssS')}'"
    },
    "resources": [
         {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('LogAnalyticsConnectionName')]",
            "location": "[parameters('LogicAppLocation')]",
            "properties": {
                "displayName": "[parameters('LogAnalyticsConnectionName')]",
               "parameterValues": {
                    "username" : "[parameters('LogAnalyticsWorkspaceId')]",
                    "password" : "[parameters('LogAnalyticsWorkspaceKey')]"
                },
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('LogicAppLocation'), '/managedApis/azureloganalyticsdatacollector')]"
                }
            }
        },
            {
                "name": "[parameters('LogicAppName')]",
                "type": "Microsoft.Logic/workflows",
                "apiVersion": "2017-07-01",
                "location": "[resourceGroup().location]",
                "dependsOn": ["[resourceId('Microsoft.Web/connections',parameters('LogAnalyticsConnectionName'))]"
                ],
                "properties": {
                "state" : "Disabled",
                    "definition": {
                        "$schema": "https://schema.management.azure.com/schemas/2016-06-01/Microsoft.Logic.json",
                        "contentVersion": "1.0.0.0",
                        "parameters": {
                              "$connections": {
                                    "defaultValue": {},
                                    "type": "Object"
                                }
                        },
                "triggers": {
                            "Recurrence": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": "[parameters('RecurrenceInterval')]"
                            },
                            "type": "Recurrence"
                            }
                        },
                "actions": {
                    "HTTP": {
                        "runAfter": {},
                        "type": "Http",
                            "inputs": {
                            "authentication": {
                                "password": "[parameters('SAPPassword')]",
                                "type": "Basic",
                                "username": "[parameters('SAPUser')]"
                                },
                            "method": "GET",
                                "queries": {
                                "$filter": "[replace(variables('odatafilter'),'Recurrence',parameters('RecurrenceInterval'))]",
                                "$format": "json"
                                },
                            "uri": "[parameters('SAPOdataUri')]"
                                }
                        },
                    "Parse_JSON": {
                        "runAfter": {
                                "HTTP": [
                                "Succeeded"
                                        ]
                                    },
                        "type": "ParseJson",
                                "inputs": {
                                "content": "@body('HTTP')",
                                    "schema": {
                                    "properties": {
                                     "d": {
                                        "properties": {
                                            "results": {
                                             "items": {
                                             "properties": {
                                              "ActDia": {
                                                    "type": "integer"
                                                        },
                                               "ActWps": {
                                                    "type": "integer"
                                                        },
                                                "Datum": {
                                                     "type": "string"
                                                        },
                                                "Diaq": {
                                                      "type": "integer"
                                                       },
                                                "Server": {
                                                        "type": "string"
                                                        },
                                                "Time": {
                                                       "type": "string"
                                                        },
                                                "TrfcFree": {
                                                       "type": "integer"
                                                        },
                                                "Users": {
                                                      "type": "integer"
                                                        },
                                                "__metadata": {
                                                    "properties": {
                                                       "id": {
                                                        "type": "string"
                                                        },
                                                        "type": {
                                                          "type": "string"
                                                            },
                                                        "uri": {
                                                          "type": "string"
                                                            }
                                                            },
                                                         "type": "object"
                                                           }
                                                          },
                                                "required": [
                                                      "__metadata",
                                                        "Datum",
                                                        "Time",
                                                        "Server",
                                                        "ActWps",
                                                         "ActDia",
                                                        "TrfcFree",
                                                        "Diaq",
                                                        "Users"
                                                     ],
                                                "type": "object"
                                                    },
                                                "type": "array"
                                                    }
                                                    },
                                                "type": "object"
                                                    }
                                                    },
                                                "type": "object"
                                                    }
                                                    }
                                                },
                    "For_each": {
                           "foreach": "@body('Parse_JSON')?['d']?['results']",
                    "actions": {
                        "Compose": {
                        "runAfter": {},
                        "type": "Compose",
                        "inputs": {
                               "Active Dia WPs": "@items('For_each')?['ActDia']",
                                "Active WPs": "@items('For_each')?['ActWps']",
                                "Date": "@items('For_each')?['Datum']",
                                "DialogQueueLength": "@items('For_each')?['Diaq']",
                                "No. of free RFC WPs": "@items('For_each')?['TrfcFree']",
                                "Servername": "@items('For_each')?['Server']",
                                "Time": "@items('For_each')?['Time']",
                                "Users": "@items('For_each')?['Users']"
                                }
                            },
                        "Send_Data_2": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                    ]
                                },
                        "type": "ApiConnection",
                               "inputs": {
                                "body": "@{outputs('Compose')}",
                                "headers": {
                                "Log-Type": "[concat('SAPPerfmon',parameters('SAPSystemID'))]"
                                },
                                "host": {
                                "connection": {
                                "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                }
                                },
                       "method": "post",
                                "path": "/api/logs"
                                }
                                }
                                },
                       "runAfter": {
                                "Parse_JSON": [
                                "Succeeded"
                                ]
                                 },
                       "type": "Foreach"
                                }
                                 
                },
                "outputs": {
                }
                },
                "parameters": {
                      "$connections": {
                        "value": {
                            "azureloganalyticsdatacollector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections',parameters('LogAnalyticsConnectionName'))]",
                                "connectionName": "[parameters('LogAnalyticsConnectionName')]",
                                "id": "[concat(subscription().id,'/providers/Microsoft.Web/locations/',parameters('LogicAppLocation'),'/managedApis/azureloganalyticsdatacollector')]"
                               
                            }
                        }
                    
                }
                }
                }
            }

          ],
    "outputs": {}
}