scalingartifacts/LogicApps/sapregister_logicapp_deploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_kvsmlgregister_name": {
            "defaultValue": "kvsmlgregister",
            "type": "String"
        },
        "connections_office365_externalid": {
            "defaultValue": "/subscriptions/afbba066-2190-4c21-b9ec-4a945b7bfbcc/resourceGroups/SAP-Open-hack/providers/Microsoft.Web/connections/office365",
            "type": "String"
        },
        "connections_sap_8_externalid": {
            "defaultValue": "/subscriptions/afbba066-2190-4c21-b9ec-4a945b7bfbcc/resourceGroups/SAP-Open-hack/providers/Microsoft.Web/connections/sap-8",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_kvsmlgregister_name')]",
            "location": "canadacentral",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "Action": {
                                                "type": "string"
                                            },
                                            "Applserver": {
                                                "type": "string"
                                            },
                                            "Group": {
                                                "type": "string"
                                            },
                                            "GroupType": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "Applserver",
                                            "Group",
                                            "GroupType",
                                            "Action"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Parse_JSON')",
                            "actions": {
                                "Send_message_to_SAP": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "<SMLG_MODIFY xmlns=\"http://Microsoft.LobServices.Sap/2007/03/Types/Rfc/\"> \n<GROUPTYPE>@{items('For_each')['GroupType']}</GROUPTYPE>\n<MODIFICATIONS xmlns=\"http://Microsoft.LobServices.Sap/2007/03/Types/Rfc/Rfc/\"> \n<RZLLIMODIF> \n    <CLASSNAME>@{items('For_each')['Group']}</CLASSNAME> \n    <APPLSERVER>@{items('For_each')['Applserver']}</APPLSERVER>\n      <MODIFICATN>@{items('For_each')['Action']}</MODIFICATN> \n</RZLLIMODIF>\n</MODIFICATIONS> \n</SMLG_MODIFY>",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['sap_1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Send",
                                        "queries": {
                                            "sapAction": "http://Microsoft.LobServices.Sap/2007/03/Rfc/SMLG_MODIFY"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "Action": {
                                                "type": "string"
                                            },
                                            "Applserver": {
                                                "type": "string"
                                            },
                                            "Group": {
                                                "type": "string"
                                            },
                                            "GroupType": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "Applserver",
                                            "Group",
                                            "GroupType",
                                            "Action"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Send_an_email_(V2)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>Following app servers are created and added to logon groups<br>\n<br>\n@{triggerBody()}</p>",
                                    "Subject": "SAP Appserver scaling",
                                    "To": "karthik.venkatraman@microsoft.com"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[parameters('connections_office365_externalid')]",
                                "connectionName": "office365",
                                "id": "/subscriptions/afbba066-2190-4c21-b9ec-4a945b7bfbcc/providers/Microsoft.Web/locations/canadacentral/managedApis/office365"
                            },
                            "sap_1": {
                                "connectionId": "[parameters('connections_sap_8_externalid')]",
                                "connectionName": "sap-8",
                                "id": "/subscriptions/afbba066-2190-4c21-b9ec-4a945b7bfbcc/providers/Microsoft.Web/locations/canadacentral/managedApis/sap"
                            }
                        }
                    }
                }
            }
        }
    ]
}